.testimonial__item {
  padding: 0px 20px;
}

.grid__container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;

}

.grid__container div {
  text-align: center;
}

.testimonial__img img {
  border-radius: 12rem;
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  .testimonial__img img {
    width: 300px !important;
    height: 300px !important;
  }

  .grid__container {
    grid-template-columns: auto auto;
  }

  .testimonial__img {
    text-align: center;
    margin-bottom: 30px;
  }
}
